<div id="ab">
  <app-banner></app-banner>
  <button id="edit">Edit</button>

  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img
        src="../../../assets/profile.jpeg"
        alt="profile_photo"
        class="img-fluid"
      />
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="name">
      <p>Alan Coradi</p>
      <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="about">
      <span>
        <h3>Acerca de mí</h3>
        <p>
          26 años, enfermero incursionando en el mundo de la programación.
          Buscando actualmente mi primer experiencia laboral relacionada a la
          programación.
        </p>
      </span>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="contact">
      <h3>Get in touch</h3>
      <p>
        Phone Number: +54 341 6 199 414
        <br>Email: alancoradi@hotmail.com
  
      </p>
    </div>
  </div>
</div>

