img{
    border-radius: 50%;
    width: 100px;
}
.container{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 10rem;
    text-align: center;
    width: 20rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container button{
    margin: 2px;
}

.container input{
    margin: 2px;
}